node_modules
.next
out
dist
.env
data/uploads/*
data/outputs/*
data/documents/*.json
data/settings/*.json
data/orders/*.json
apps/web/.next
apps/*/dist
!data/uploads/.gitkeep
!data/outputs/.gitkeep
!data/documents/.gitkeep
!data/settings/.gitkeep
!data/orders/.gitkeep
npm-debug.log*
